Node-Red Flows/All_Flows.json
[{"id":"59afca3b.f87ae4","type":"tab","label":"Agriculture Condition Details","disabled":false,"info":""},{"id":"ca3ade7e.a7d4d","type":"tab","label":"Weather Details","disabled":false,"info":""},{"id":"64ef193e.4ebba8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"4878e390.01a72c","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"84ee0af.b4b1df8","type":"ui_group","z":"","name":"Temperature","tab":"4878e390.01a72c","order":3,"disp":true,"width":"6","collapse":false},{"id":"503f916f.164f3","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Smart Agriculture Using IoT","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":10,"cy":10,"px":5,"py":5}}},{"id":"ed347c9e.6db56","type":"ui_group","z":"","name":"Location","tab":"ff61db31.ceadb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ff61db31.ceadb8","type":"ui_tab","z":"","name":"Weather Details","icon":"dashboard","disabled":false,"hidden":false},{"id":"81fd8015.77d54","type":"ibmiot","z":"","name":"API KEY","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"680e0923.ccba28","type":"ibmiot","z":"","name":"IoT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c4f41479.2ee708","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"20b00d22.a45352","type":"ui_spacer","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"fb02da3e.925fb8","type":"ui_spacer","name":"spacer","group":"","order":5,"width":1,"height":1},{"id":"60482f78.94e2e","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"f1a8a4d5.d28f98","type":"ui_spacer","name":"spacer","group":"","order":7,"width":1,"height":1},{"id":"7b9905d5.77f46c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c54682b4.18e7a","type":"ibmiot","z":"","name":"SmartIoT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"90c25d85.5c44a","type":"ibmiot","z":null,"name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"495eac.9b0d9154","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"587e4b40.c001f4","type":"ui_group","z":"","name":"Temperature","tab":"ff61db31.ceadb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"2576c143.37d4ae","type":"ui_group","z":"","name":"Humidity","tab":"4878e390.01a72c","order":5,"disp":true,"width":"6","collapse":false},{"id":"3b6ad6c2.97491a","type":"ui_group","z":"","name":"Soil Moisture","tab":"4878e390.01a72c","order":4,"disp":true,"width":"6","collapse":false},{"id":"b66e2183.375e1","type":"ui_group","z":"","name":"Motor Contols","tab":"4878e390.01a72c","order":1,"disp":true,"width":"6","collapse":false},{"id":"1257a79e.786318","type":"ui_spacer","name":"spacer","group":"3b6ad6c2.97491a","order":1,"width":1,"height":1},{"id":"84b7e4dc.a1e1b8","type":"ui_spacer","name":"spacer","group":"3b6ad6c2.97491a","order":3,"width":1,"height":1},{"id":"2c0323b6.52683c","type":"ui_group","z":"","name":"Humidity","tab":"ff61db31.ceadb8","order":3,"disp":true,"width":"6","collapse":false},{"id":"d37a1241.75676","type":"ui_group","z":"","name":"Pressure","tab":"ff61db31.ceadb8","order":4,"disp":true,"width":"6","collapse":false},{"id":"fdbd9831.a02c88","type":"ui_spacer","name":"spacer","group":"2c0323b6.52683c","order":1,"width":1,"height":1},{"id":"79c9a254.fc03fc","type":"ui_spacer","name":"spacer","group":"2c0323b6.52683c","order":3,"width":1,"height":1},{"id":"7291a0bd.a0a5","type":"ui_spacer","name":"spacer","group":"d37a1241.75676","order":1,"width":1,"height":1},{"id":"3923999d.105d16","type":"ui_spacer","name":"spacer","group":"d37a1241.75676","order":3,"width":1,"height":1},{"id":"5d062dea.ffadb4","type":"ibmiot in","z":"59afca3b.f87ae4","authentication":"apiKey","apiKey":"64ef193e.4ebba8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"mcu123","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":230,"y":340,"wires":[["bf74503a.32f42","2bc5c7ea.a41868","2bad35aa.691e6a"]]},{"id":"631edcfe.e7dac4","type":"debug","z":"59afca3b.f87ae4","name":"Output 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":120,"wires":[]},{"id":"bf74503a.32f42","type":"function","z":"59afca3b.f87ae4","name":"Temp","func":"msg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":440,"wires":[["631edcfe.e7dac4","fd3a0892.e8dc38","aa717481.e7eff8"]]},{"id":"2bad35aa.691e6a","type":"function","z":"59afca3b.f87ae4","name":"Humidity","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":240,"wires":[["631edcfe.e7dac4","cf793480.ca6f58","daa251ba.28124"]]},{"id":"2bc5c7ea.a41868","type":"function","z":"59afca3b.f87ae4","name":"Soil Moisture","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":340,"wires":[["631edcfe.e7dac4","4dfa3754.92fde8","55378b80.28ecf4"]]},{"id":"fd3a0892.e8dc38","type":"ui_gauge","z":"59afca3b.f87ae4","name":"Temperature","group":"84ee0af.b4b1df8","order":1,"width":0,"height":0,"gtype":"donut","title":"Temp","label":"*C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":440,"wires":[]},{"id":"cf793480.ca6f58","type":"ui_gauge","z":"59afca3b.f87ae4","name":"Humidity","group":"2576c143.37d4ae","order":1,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":240,"wires":[]},{"id":"4dfa3754.92fde8","type":"ui_gauge","z":"59afca3b.f87ae4","name":"Soil Moisture","group":"3b6ad6c2.97491a","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"*C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":340,"wires":[]},{"id":"f52394e6.dcc1e8","type":"ibmiot out","z":"59afca3b.f87ae4","authentication":"apiKey","apiKey":"64ef193e.4ebba8","outputType":"cmd","deviceId":"iot123","deviceType":"IoTDevicee","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":560,"wires":[]},{"id":"d49837b.66d1cc8","type":"ui_button","z":"59afca3b.f87ae4","name":"MotorOn","group":"b66e2183.375e1","order":3,"width":0,"height":0,"passthru":false,"label":"Motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":320,"y":600,"wires":[["f52394e6.dcc1e8","5a22a145.47ea4","8a5ad0e3.dfb7"]]},{"id":"ade3b2f3.2838f","type":"ui_button","z":"59afca3b.f87ae4","name":"MotorOff","group":"b66e2183.375e1","order":4,"width":0,"height":0,"passthru":false,"label":"Motor Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":320,"y":680,"wires":[["f52394e6.dcc1e8","5a22a145.47ea4","8a5ad0e3.dfb7"]]},{"id":"5a22a145.47ea4","type":"debug","z":"59afca3b.f87ae4","name":"Output 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":620,"wires":[]},{"id":"e1721633.f37d08","type":"ui_template","z":"59afca3b.f87ae4","group":"b66e2183.375e1","name":"Motor Control Center","order":5,"width":0,"height":0,"format":"<!DOCTYPE HTML>\n<html>\n    <head>\n        <meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\" />\n    \n        <title>Home Page Agriculture</title>\n        \n    </head>\n    <body>\n        <h1>Directions:</h1>\n        <h3>Press <strong>Motor ON</strong> to turn on Motor</h3>\n        <h3>Press <strong>Motor OFF</strong> to turn off Motor</h3>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":900,"y":60,"wires":[[]]},{"id":"b3a7898d.365048","type":"inject","z":"ca3ade7e.a7d4d","name":"Timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"6","crontab":"","once":true,"onceDelay":"6","topic":"","payload":"","payloadType":"date","x":190,"y":100,"wires":[["e176c55b.7fec88"]]},{"id":"e176c55b.7fec88","type":"http request","z":"ca3ade7e.a7d4d","name":"HTTP Req","method":"GET","ret":"obj","paytoqs":"ignore","url":"api.openweathermap.org/data/2.5/weather?q=Visakhapatnam, IN&appid=5416ae8e984a063fd302f1c0e643c864","tls":"","persist":false,"proxy":"","authType":"","x":190,"y":260,"wires":[["b30d6b4.b835898","80e68cd5.c0eda","b29cbc72.e2aaf","86b4915b.3b0cd","7fe054c.e23f9ac","aff375fd.ed6848"]]},{"id":"b30d6b4.b835898","type":"change","z":"ca3ade7e.a7d4d","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":340,"wires":[["3129a63.ce5505a","ee5ed98a.1c49b8","f85014fd.7ea888"]]},{"id":"80e68cd5.c0eda","type":"change","z":"ca3ade7e.a7d4d","name":"City Name","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":60,"wires":[["ee5ed98a.1c49b8","38d82ac8.9fda76"]]},{"id":"b29cbc72.e2aaf","type":"change","z":"ca3ade7e.a7d4d","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":400,"wires":[["8e4ac87f.fb2288","ee5ed98a.1c49b8","ee8c84bb.9ed5e8"]]},{"id":"3129a63.ce5505a","type":"ui_gauge","z":"ca3ade7e.a7d4d","name":"","group":"587e4b40.c001f4","order":1,"width":0,"height":0,"gtype":"compass","title":"Temperature","label":"kelvin","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":340,"wires":[]},{"id":"8e4ac87f.fb2288","type":"ui_gauge","z":"ca3ade7e.a7d4d","name":"","group":"2c0323b6.52683c","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":400,"wires":[]},{"id":"86b4915b.3b0cd","type":"change","z":"ca3ade7e.a7d4d","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":460,"wires":[["adef091d.dc5c38","ee5ed98a.1c49b8","4b1a78c9.6b2b68"]]},{"id":"adef091d.dc5c38","type":"ui_gauge","z":"ca3ade7e.a7d4d","name":"","group":"d37a1241.75676","order":2,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"milibar","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":460,"wires":[]},{"id":"ee5ed98a.1c49b8","type":"debug","z":"ca3ade7e.a7d4d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":260,"wires":[]},{"id":"931d5a2d.709058","type":"inject","z":"59afca3b.f87ae4","name":"Time Stamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"7","crontab":"","once":true,"onceDelay":"7","topic":"","payload":"","payloadType":"date","x":250,"y":520,"wires":[["b909376.a43c8c8"]]},{"id":"b909376.a43c8c8","type":"http request","z":"59afca3b.f87ae4","name":"HTTP Req","method":"GET","ret":"obj","paytoqs":"ignore","url":"api.openweathermap.org/data/2.5/weather?q=Visakhapatnam, IN&appid=5416ae8e984a063fd302f1c0e643c864","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":520,"wires":[["354edb77.175904"]]},{"id":"354edb77.175904","type":"debug","z":"59afca3b.f87ae4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":520,"wires":[]},{"id":"8a5ad0e3.dfb7","type":"ui_toast","z":"59afca3b.f87ae4","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Action Done Successfully","name":"Confirmation","x":870,"y":680,"wires":[[]]},{"id":"38d82ac8.9fda76","type":"ui_text","z":"ca3ade7e.a7d4d","group":"ed347c9e.6db56","order":0,"width":0,"height":0,"name":"","label":"Current Location","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":60,"wires":[]},{"id":"7fe054c.e23f9ac","type":"change","z":"ca3ade7e.a7d4d","name":"Wind Speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":120,"wires":[["fe9b8443.bd8fa8","ee5ed98a.1c49b8"]]},{"id":"fe9b8443.bd8fa8","type":"ui_text","z":"ca3ade7e.a7d4d","group":"ed347c9e.6db56","order":0,"width":0,"height":0,"name":"","label":"Wind Speed","format":"{{msg.payload}} Km/hr","layout":"row-spread","x":930,"y":120,"wires":[]},{"id":"aff375fd.ed6848","type":"change","z":"ca3ade7e.a7d4d","name":"Feels Like","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.feels_like","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":180,"wires":[["de8cfc45.bd69a","ee5ed98a.1c49b8"]]},{"id":"de8cfc45.bd69a","type":"ui_text","z":"ca3ade7e.a7d4d","group":"ed347c9e.6db56","order":0,"width":0,"height":0,"name":"","label":"Temp Feels Like","format":"{{msg.payload}} *F","layout":"row-spread","x":940,"y":180,"wires":[]},{"id":"daa251ba.28124","type":"ui_chart","z":"59afca3b.f87ae4","name":"","group":"2576c143.37d4ae","order":2,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1050,"y":240,"wires":[[]]},{"id":"55378b80.28ecf4","type":"ui_chart","z":"59afca3b.f87ae4","name":"","group":"3b6ad6c2.97491a","order":4,"width":0,"height":0,"label":"Soil Moisuture","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1080,"y":340,"wires":[[]]},{"id":"aa717481.e7eff8","type":"ui_chart","z":"59afca3b.f87ae4","name":"","group":"84ee0af.b4b1df8","order":2,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":440,"wires":[[]]},{"id":"f85014fd.7ea888","type":"ui_chart","z":"ca3ade7e.a7d4d","name":"","group":"587e4b40.c001f4","order":2,"width":0,"height":0,"label":"Temperature Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":340,"wires":[[]]},{"id":"4b1a78c9.6b2b68","type":"ui_chart","z":"ca3ade7e.a7d4d","name":"","group":"d37a1241.75676","order":4,"width":0,"height":0,"label":"Pressure Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1100,"y":460,"wires":[[]]},{"id":"ee8c84bb.9ed5e8","type":"ui_chart","z":"ca3ade7e.a7d4d","name":"","group":"2c0323b6.52683c","order":4,"width":0,"height":0,"label":"Humidity Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1100,"y":400,"wires":[[]]}]
